<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8" />
<title>Auction</title>
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
<script type="text/javascript" th:src="@{/resources/js/add.js}"></script>
</head>
<body>
	<!-- header -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<img th:src="@{/resources/img/logo-1.jpg}"
          			src="../../../resources/img/logo-1.jpg" width="50" height="50"></img>
				<a class="navbar-brand" th:href="@{/}">Auction</a>
			</div>	
				<ul class="nav navbar-nav navbar-center">
					<li><a th:href="@{|/${user.username}/managerUser|}">Manager User</a></li>
					<li><a th:href="@{|/${user.username}/managerAuction|}">Manager Auction</a></li>
					<li><a th:href="@{|/${user.username}/managerNotify|}">Notify</a></li>
				</ul>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span>
							<label th:text="${user.username}"></label></a></li>
					<li><a th:href="@{/logout}"><span
							class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Main here -->
	<div class = "panel panel-default">
		<div class = "panel-heading"><span th:text = "${user.username}"></span></div>
		<div class = "panel-body">
			<div class="col-sm-4">
				<img th:src="@{|/image/${user.pathImg}|}" width="200" height="200"></img>
			</div>
			<div class="col-sm-4">
				<p>Name: <span th:text = "${user.fullName}"></span></p>
				<p>Email: <span th:text = "${user.emailUser}"></span></p>
				<p>Address: <span th:text = "${user.addressUser}"></span></p>
				<p>Rate <span th:text = "${user.rateUser}"></span></p>
				<p>Bid: <span th:text = "${user.particiBid}"></span></p>
				<p>Win: <span th:text = "${user.winBid}"></span></p>
			</div>
			<div class="col-sm-4">
				<p>Description:</p>
				<p><span th:text = "${user.description}"></span></p>
			</div>
		</div>
		<div class = "panel-footer"> <a th:href = "@{|/${user.username}/edit|}"><button>Edit</button> </a> </div>
		<div class = "panel-footer"> Comment </div>
		<div class = "panel-body"></div>
	</div>
	<!-- Main end -->
</body>
</html>