<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8" />
<title>Auction</title>
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
<script type="text/javascript" th:src="@{/resources/js/add.js}"></script>
</head>
<body>
	<!-- header -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<img th:src="@{/resources/img/logo-1.jpg}"
          			src="../../../resources/img/logo-1.jpg" width="50" height="50"></img>
				<a class="navbar-brand" th:href="@{/}">Auction</a>
			</div>	
				<ul class="nav navbar-nav navbar-center">
					<li><a th:href="@{|/${username}/managerUser|}">Manager User</a></li>
					<li><a th:href="@{|/${username}/managerAuction|}">Manager Auction</a></li>
					<li><a th:href="@{|/${username}/managerNotify|}">Notify</a></li>
				</ul>

			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><span class="glyphicon glyphicon-user"></span>
							<label th:text="${username}"></label></a></li>
					<li><a th:href="@{/logout}"><span
							class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Main here -->
	<div class = "panel panel-default">
		<div class = "panel-heading">User name</div>
		<div class = "panel-body">
			<div class="col-sm-4">
				<img th:src="@{/resources/img/IMG_0583.jpg}"
					src="../../../resources/img/IMG_0583.jpg" width="150" height="200"></img>
			</div>
			<div class="col-sm-4">
				<p>Name</p>
				<p>Email:</p>
				<p>Address:</p>
				<p>Rate </p>
				<p>Bid:</p>
				<p>Win:</p>
			</div>
			<div class="col-sm-4">
				<p>Description:</p>
				<p>No thing</p>
			</div>
		</div>
		<div class = "panel-footer"> <button>Edit</button> </div>
	</div>
	<!-- Main end -->
</body>
</html>