<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8" />
<title>TaskJob Manager</title>
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" th:href="@{/resources/css/style.css}" />
<script type="text/javascript" th:src="@{/resources/js/add.js}"></script>
</head>
<body>
	<div class="panel-group">
		<div class="panel-footers">
			<label class="title">Task List</label>
		</div>
		<!-- footer 1 -->
		<div class="panel-footer">
		</div>
		<div class="row">
			<div class = "col-sm-1"></div>
			<div class = "col-sm-1"></div>
			<div class = "col-sm-8">
			<table class="table table-bordered">

				<tr>
				<div class = "row">
					<div class = "col-sm-4"><img alt="" th:src="@{/resources/img/logo-1.jpg}"></div>
					<div class = "col-sm-8">
						<div class = "col-title">Product 01: Product 01</div>
						<div class = "row">
							<div class = "col-sm-4">Time: 22:10</div>
							<div class = "col-sm-8">
								<div class = "row-1">username: username</div>
								<div class = "row-1">Money: 120000</div>
								<div class = "row-1"><button>Bid</button></div>
							</div>
						</div>
					</div>
				</div>
				<div class = "panel-footer"></div>
				</tr>
			</table>
			</div>
			<div class = "col-sm-1"></div>
			<div class = "col-sm-1"></div>
		</div>
		<div class="panel-footer">

			<div class="row">
				<div class="col-sm-4">
					
				</div>
				<div class="col-sm-4">
					
				</div>
				<div class="col-sm-4">
					
				</div>
			</div>
		</div>
	</div>
</body>
</html>